@font-face {
    font-family: FEU-FONT;
    src: url(/elements/FEU-FONT.ttf);
  }
  @font-face {
    font-family: VarelaRound-Regular;
    src: url(/elements/VarelaRound-Regular.ttf);
  }
  body {
    background-color: rgb(255, 255, 255);
  }
  img-fluid {
    width: 100%;
    height: auto;
  }
  .nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .navbar{
    background-image: linear-gradient(to right, #0a590a, #0a2b05);
    padding: 10px 0 !important;
  }
  
  .logo{
    height: 70px;
  }
  
  .fa-bars{
    color:#fff;
    border: none;
  }
  
  .nav-link.dropdown-toggle{
    color:#fff;
  }

  .offcanvas-header{
    background-image: linear-gradient(to right, #075007, #0a2b05);
}

.offcanvas-body{
    background-image: linear-gradient(to right, #075007, #0a2b05);
}

.btn-close{
    color: #fff;
}
  
  .banner {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(https://www.finduniversity.ph/_resources/business/8144/far-eastern-university-324.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    color: white;
    padding-top: 5%;
    height: 500px;
    padding-bottom: 5%;
    
  }
  .bn-title {
    font-family: FEU-FONT;
    font-size: 50px;
    font-weight: 400;
    font-style:normal;
    text-shadow: 2px 2px 4px rgba(116, 105, 105, 0.5);
    text-align: center;
    margin-top: 10%;
  }
  
  
  
  .title{
    font-family: VarelaRound-Regular;
    margin-top: 5%;
    margin-bottom: 7%;
  }
  .subhead{
    font-family: VarelaRound-Regular;
  }
  
  .lead{
    font-family: VarelaRound-Regular;
    text-align: justify;
  }
  
  footer {
    background-image: linear-gradient(to right, #0a590a, #0a2b05);
   
  }
  
  .footer-column{
    padding-left: 15px;
    padding-right: 15px;
  }
  .text-white{
    text-decoration: none;
    font-weight: 400;
    
  }
  
  .footer-img{
  max-width: 100%;
  height: auto;
  margin-top: -20px;
  }